  <footer id="footer">
    <div class="container">
      <div class="col-md-6">
        <p class="attribution">BEST Chișinău &copy; {{ 'now' | date: "%Y" }}</p>
      </div>
      <div class="col-md-6 credit">
        <p><a href="https://github.com/BEST-Chisinau/best-chisinau.github.io">Edit this page</a></p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="{{ 'assets/old/js/functions.js?ver=20140319' | relative_url}}"></script>
  <script src="{{ 'assets/old/js/bootstrap.min.js?ver=1.2' | relative_url}}"></script>
  <script src="{{ 'assets/old/js/isotope.min.js?ver=4.1.13' | relative_url}}"></script>
  <script src="{{ 'assets/old/js/modernizr.min.js?ver=2.8.3' | relative_url}}"></script>
  <script src="{{ 'assets/old/js/pageslide.min.js?ver=4.1.13' | relative_url}}"></script>
  <script src="{{ 'assets/old/js/script.js?ver=1' | relative_url}}"></script>

</body>
</html>
