<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>BEST Chisinau</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="<?php bloginfo('pingback_url'); ?>">
  <link rel="stylesheet" href="{{ 'assets/old/css/bootstrap.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/old/css/style.css' | relative_url }}">
</head>

<body>
  <header role="banner">
    <div class="navbar navbar-default navbar-fixed-top solid">
      <div class="container flw">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" title="Board of European Students of Technology " href="http://best-chisinau.org/en">
            <img src="{{ 'assets/images/logo.png' | relative_url }}" alt="BEST Chisinau">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="top-menu">
            <ul id="menu-menu" class="nav navbar-nav">
              <li id="menu-item-67" class="menu-item page_item"><a href="/ebec17/">EBEC17</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
