<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>BEST Chisinau</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="pingback" href="<?php bloginfo('pingback_url'); ?>">
  <link rel="stylesheet" href="{{ 'assets/old/css/bootstrap.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/old/css/style.css' | relative_url }}">
</head>

<body>
  <div id="slideNav" style="display:none">
    <a href="javascript:jQuery.pageslide.close()"></a>
    <div class="social row">
      <h4>Fii alături de noi:</h4>
      <p>Află totul despre cele mai recente noutăți, evenimente și cursuri. Fii alături de noi pe rețelele sociale.</p>
      <div class="menu-menu-social-container">
        <ul id="menu-menu-social" class="menu">
          <li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom social-icon facebook menu-item-140"><a href="/web/20161001172112/https://www.facebook.com/BEST.Chisinau"><i class='icon-2x icon-facebook '></i><span class='fa-hidden'>Facebook</span></a></li>
          <li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom social-icon twitter menu-item-142"><a href="/web/20161001172112/https://twitter.com/BEST_Chisinau"><i class='icon-2x icon-twitter '></i><span class='fa-hidden'>Twitter</span></a></li>
          <li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom social-icon instagram menu-item-143"><a href="/web/20161001172112/http://instagram.com/best_chisinau"><i class='icon-2x icon-instagram '></i><span class='fa-hidden'>Instagram</span></a></li>
          <li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom social-icon google-plus menu-item-144"><a href="/web/20161001172112/https://plus.google.com/b/116541875199189399439/116541875199189399439/posts"><i class='icon-2x icon-google-plus '></i><span class='fa-hidden'>Google+</span></a></li>
          <li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom social-icon linkedin menu-item-145"><a href="/web/20161001172112/https://www.linkedin.com/company/1613750"><i class='icon-2x icon-linkedin '></i><span class='fa-hidden'>LinkedIn</span></a></li>
          <li id="menu-item-146" class="menu-item menu-item-type-custom menu-item-object-custom social-icon vk menu-item-146"><a href="/web/20161001172112/http://vk.com/best.chisinau"><i class='icon-2x icon-vk '></i><span class='fa-hidden'>VK</span></a></li>
        </ul>
      </div>
    </div>
    <div class="mail row">
      <h4>Fii la curent:</h4>
      <p>Rămâi mereu aproape de noi. Abonează-te prin e-mail pentru a beneficia de cele mai proaspete noutăți.</p>
    </div>
  </div>

  <header role="banner">

    <div class="navbar navbar-default navbar-fixed-top solid">
        <div class="container flw">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logo" title="Board of European Students of Technology " href="http://best-chisinau.org/en">
              <img src="{{ 'assets/images/logo.png' | relative_url }}" alt="BEST Chisinau">
            </a>

          </div>

          <div class="collapse navbar-collapse navbar-responsive-collapse">

            <div class="top-menu">
              <ul id="menu-menu" class="nav navbar-nav"><li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item active"><a href="http://best-chisinau.org/en/">Home</a></li>
<li id="menu-item-51" class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://best-chisinau.org/en/who-we-are/">Who we are<b class="caret"></b></a>
<ul class="dropdown-menu">
  <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/who-we-are/presentation-of-best/">Presentation of BEST</a></li>
  <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/who-we-are/bestch-in-mass-media/">BESTch in mass-media</a></li>
</ul>
</li>
<li id="menu-item-54" class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://best-chisinau.org/en/oportunities/">Oportunities<b class="caret"></b></a>
<ul class="dropdown-menu">
  <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/oportunities/events/">Events</a></li>
  <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/oportunities/temporary-courses/">Temporary courses</a></li>
  <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/oportunities/career-support/">Career support</a></li>
  <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/oportunities/be-part-of-the-team/">Be part of the team</a></li>
</ul>
</li>
<li id="menu-item-47" class="dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="http://best-chisinau.org/en/collaboration/">Collaboration<b class="caret"></b></a>
<ul class="dropdown-menu">
  <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/collaboration/partners/">Partners</a></li>
  <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/collaboration/testimonials/">Testimonials</a></li>
  <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/collaboration/collaboration-offer/">Collaboration offer</a></li>
</ul>
</li>
<li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/blog/">Blog</a></li>
<li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://best-chisinau.org/en/contacts/">Contacts</a></li>
</ul>             <div class="lang-switcher"><a href="http://best-chisinau.org" title="RO">RO</a></div>


              <div class="follow-us-slide">
                <a href="#slideNav" class="pageslide-link">Follow us</a>
              </div>

            </div>


          </div>

        </div>
      </div>

  </header>
