
﻿body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	/*margin: 0 !important;
	padding: 0 0 40px 0 !important;*/
	/*color: #1c424d;*/
}


/* Preloader */

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*background-color: #f5f5f5;*/
	  background-color: #191919;
		/*opacity: 0.95;*/
  /* change if the mask should have another color then white */
  z-index: 999999;
  /* makes sure it stays on top */
}

#status {

  /*left: 45%;
  top: 45%;*/
	  /*position: absolute;*/
		margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
  /* centers the loading animation vertically one the screen */
  /* is width and height divided by two */
}

.spinner-sm {
  width: 150px;
  height: 150px;
  background-image: url(https://i.imgur.com/k3CNAD3.png);
  /*background-size: 40%;*/
  background-position: center center;
  background-repeat: no-repeat;
  /*background-color: #214577;*/
  /*border-radius: 50%;*/
	  animation: spinny 1.5s linear infinite;
}

}
@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/*preloader*/

h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
a {
	color: #34495e;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #EEA225;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #032e3a;
	z-index: 99999;
	height: 100%;
}*/
.navigation-user {
	margin-bottom: 5px;
}

/*.section-title {
	padding: 30px 0;
}*/
.section-title h2 {
	font-weight: 400;
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #626a29;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);*/
}
#menu a.navbar-brand {
	/*text-transform: uppercase;*/
	font-size: 22px;
	color: #d9e0e2;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #EEA225;
}
#menu.navbar-default .navbar-nav > li > a {
	/*text-transform: uppercase;*/
	color: #f1f1f1;
/*font-size: 15px;*/
/*letter-spacing: 0.6px;*/
}

#menu.navbar-default
.navbar-nav .page-scroll:hover {
	color: #EEA225;
}

.user-navbar {
	background-color: transparent;
    border: none;
		/*margin-top: 0 !important;*/

}

.on {
	background-color: #191919 !important;
	opacity: 0.85;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #EEA225 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #EEA225;
	/*border-color: #EEA225;*/
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
header {
	/*background: url(http://i.imgur.com/3Flill3.png) no-repeat  center;
	background-position: center;
	color: #d9e0e2;*/
	/*position: relative;*/

}
/*header p {
	margin-top: 50px;
}*/

.user-row p {
	color: #666666;
	margin: 20px;

}
.intro-text p {
	color: #d9e0e2;
	font-size: 20px;
	margin-bottom: 75px;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	margin-top: 45px;
}
.intro-text {
	position: relative;
	padding-top: 120px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 50px;
/*	text-transform: uppercase;*/
	color: #d9e0e2;
	letter-spacing: 2px;
}
.color {
	color: #EEA225;
}
.btn-default {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #e74c3c;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #c0392b;
	color: #fff;
}
/* Services Section */
#services-section {
	padding: 80px 0 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	color: #34495e;
	background: #f5f5f5;
}
#services-section h4 {
/*	color: #81969c;*/
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
/*	background: #032934;*/
/*	margin-bottom: 6px;*/
	border-radius: 10%;
	color: #EEA225;
	transition: all 0.5s;
}

#services-section p {
	font-size: 15px;
}

#casestudy-section .service:hover>i.fa {
	background: #0b3540;
}

/*.serviceCS {
	width: 19.666667%;
}*/

/* Services Section */
#casestudy-section {
	padding: 50px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	color: #34495e;
	background: #f5f5f5;
	/*margin-bottom: 40px;*/
}
#casestudy-section h4 {
/*	color: #81969c;*/
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}
#casestudy-section i.fa {
font-size: 80px;
    /* border: 0; */
    /* width: 100px; */
    /* height: 80px; */
    /* padding: 22px 25px; */
    /* background: #032934; */
    color: #666;
    transition: all 0.5s;
}
#casestudy-section .service:hover>i.fa {
	background: #0b3540;
}


/* Gallery Section
==============================*/
#works-section {
	padding: 80px 0;
	}
#works-section i.fa {
	font-size: 30px;
	padding: 5px;
	color: #EEA225;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
#works-section hr {
	background: #a9971c;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #51633d;
	border: 1px solid #f7dc6f;
	padding: 8px 16px;
	border-radius: 3px;
}
ol.type li a.active {
	background: #f7dc6f;
}
ol.type li a:hover {
	background: #f7dc6f;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #c0cbce;
	background: rgba(3, 46, 58, 0.8);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 20px;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

/* About Section */
#about-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	background: #fff; /* Old browsers */
	color: #34495e;
}
#about-section h4 {
	/*color: #81969c;*/
	font-size: 20px;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "✓";
	color: #EEA225;
	padding-right: 5px;
}

/* Team Section */
#team-section hr {
	background: #a9971c;
}
#team-section {
	background-color: #f5f5f5;
	padding-top: 40px;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 170px;
	height: 170px;
	border: 4px solid transparent;
	transition: all 0.5s;
}

.team-img {
	-webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
filter: grayscale(95%);
}
.team-img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}

#team-section .thumbnail {
	/*background: transparent;*/
	border: 0;
	-webkit-box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.24);
	-moz-box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.24);
	box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.24);
	display: block;
    padding: 10px;
    margin-bottom: 30px;
    /*line-height: 1.42857143;*/
    /*background-color: #fff;*/
}

/*#team-section .thumbnail:hover {
	-webkit-box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.8);
	-moz-box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.8);
	box-shadow: 1px 0px 3px 1px rgba(212,212,212,0.8);
}*/

#team-section .thumbnail .caption {
	padding: 9px;
	color: #1c424d;

}
#team-section i.fa {
	/*font-size: 16px;
	color: #faeaab;
	margin-top: 10px;*/
}
#team-section i.fa:hover {
	/*color: #1c424d;*/
}
.at-social {
  margin: 0 0 0 -35px;
  /*opacity: 0;*/
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;

}
.at-social__item a {
  display: block;
  color: #191919;
	transition: all .2s ease-in-out;
}
.at-social__item a:hover {
	 color: #eea225;
	 transform: scale(1.3);
}
/*.at-social__item i {
  fill: #515F65;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.at-social__item svg:hover {
  fill: #eea225;
}*/




.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #42626b;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #EEA225;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #EEA225;
}
/* Testimonials Section */
#testimonials-section {
/*	padding: 80px 0;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3e50+0,032e3a+20,032e3a+100,032731+100 */
	background: #fff;
	color: #34495e;
}
#testimonials-section h3 {
	text-align: left;
}
#testimonial {
	padding: 30px 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}
/* Contact Section */
#contact-section {
	padding: 80px 0 20px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	}
#contact-section hr {
	background: #a9971c;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section .fa {
	color: #f8e287;
	margin-bottom: 10px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .social {
	margin-top: 60px;
}
#contact-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact-section .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	color: #f8e287;
	transition: all 0.5s;
}
#contact-section .social i.fa:hover {
	color: #2c3e50;
}
#contact-section .btn {
	background: transparent;
	border: 2px solid #fef9e7;
	border-radius: 4px;
	padding: 6px 14px;
	margin-top: 20px;
	color: #fef9e7;
	font-size: 16px;
	transition: all 0.5s;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #fef9e7;
	border: 2px solid #fef9e7;
	color: #34495e;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer */
#footer {
	background: #191919;
	padding: 15px 0 10px 0;
	/*color: #42626b;*/
	text-align: center;
}
#footer p {
	margin-top: 10px;
}

#footer a {
	color: #775112;

}
#footer a:hover {
	color: #EEA225;
}
.center-block a i {
	padding-left: 5px;
}




/* USER CSS --------------------
-------------------------------- */


.ebec-logo {
	margin-top: 4px;

}


#buton-aplica {
	background-color: #eea225;
	color: #fff;
	border-radius: 3px;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-top: 6px;
}

#buton-aplica:hover, #buton-aplica:focus {
	background-color: #d35400;
}

.menu-list {
/*  	display: table-cell; */
  	vertical-align: middle;
  	text-align: center;
  	margin-top: 13px;
}
/*Gallery COntainer 2015*/
.ebec {
	/*background-color:#EEA225;*/
	}
.ebec p{
	color:#fff
}
.ebec .col-xs-12{
	padding:0;
}
.ebec h3{
	margin-bottom:20px;
}
.ebec .space{
	margin-bottom:60px;
}
.ebec .col-sm-3{display:table-cell;vertical-align:middle;height:100%}
.col-sm-3 img{
	margin:0 auto;display:block
}
.set h3 a{
	text-transform:none
}
.ebec .col-sm-3{
	margin-top:46px;
	padding-right:20px
	}
.ebec-gallery{
	padding:20px 0;
	}
.ebec-gallery .col-sm-4{
	padding:20px 0;
	}

.ebec-gallery
.col-sm-4 img{
	margin-left: auto;
	margin-right: auto;border:
	7px solid #fff;
}
.container{
	padding:0
	}
.row{
	margin:0
}
.ebec-gallery .col-sm-4 img:hover {
    border: 7px solid #EEA225;
    opacity: 0.7;
}




canvas {
  display: block;
  vertical-align: bottom;
}

.TDcol {
	margin-top: 70px;
}
.TDcol p {
	text-align: left;
	padding-bottom: 10px;

}

.img-test {
	width: 120px;
	height: 100px;
	border: 0;
	transition: all 0.5s;
	margin: 0 auto
}
.question-icon {
	width: 100px;
	height: 100px;
}
/*.delimitare-probe {
	width: 75%;
	text-align: center;
	height: 1px;
	color: #666666;

}*/
.td-img {
/*	z-index: -999;
	position: absolute;*/
  	left: 55px;
    top: -151px;
    bottom: -180px;
}

.user-toggle {
	color: #fff;
	margin-right: 40px;
    margin-top: 15px;

}


/* MEDIA queries--------------------
-------------------------------- */


@media (max-width: 768px) {
.section-title {
	margin-bottom: -50px;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 5px;
}

.TDcol p {
	padding-bottom: 0;

}
/*.serviceCS {
	width: 99.666667%;
}*/
#casestudy-section {
	padding: 10px;
}
#services-section {
	padding: 10px;

}
.content {
	/*padding: 40% 0 0;
	background-color: #2c3e50 !important;
	opacity: 0.85;
	padding: 0 !important;
	float: none;*/
}
.ebec-logo {
	margin-left: 25px;
 	margin-top: 2px;
    padding-bottom: 3px;
}
.user-toggle {
	margin-right: 45px;
}

.menu-list {
	 margin: 0 auto;
     text-align: center;

}
#buton-aplica {
	width: 30%;
    margin: 0 auto;
}

.best-logo-about {
	margin-top: 30px;
}

}

@media (min-width: 765px) {
.section-title {
	margin-bottom: -20px;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 5px;
}

.TDcol p {
	padding-bottom: 0;

}
.best-logo-about {
	margin-top: 30px;
}

/*.serviceCS {
	width: 99.666667%;
}*/
/*.line-ebec {
	visibility: hidden;
	display: none;
}*/
.challenge-ebec {
	margin-top: 10px;
}
}


@media (min-width: 900px) {
	/*.serviceCS {
	width: 19.666667%;
}*/
.best-logo-about {
	margin-top: 30px;
}
/*.line-ebec {
	visibility: hidden;
	display: none;
}*/
/*.challenge-ebec {
	float: left;
}*/

}




@media (max-width: 603px) {
.challenge-ebec {
	float: left;
}

.section-title {
	margin-bottom: -50px;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 5px;
}

.TDcol p {
	padding-bottom: 0;

}

/*.serviceCS {
	width: 99.666667%;
}*/
	#casestudy-section {
	padding: 10px;
}
#services-section {
	padding: 10px;

}

#menu.navbar-default {
	/*background-color: rgba(0, 0, 0, 0.7);*/
	/*background-color: #2c3e50 !important;*/
	opacity: 0.85;
	padding: 0 !important;
	float: none;

}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
.ebec-logo {
	margin-left: 25px;
  /*  width: 34%;*/
}
.user-toggle {
	margin-right: 45px;
}
.menu-list {
      text-align: center;
      padding-bottom: 10px;
     /* margin: 0 auto;*/
}
#buton-aplica {
	width: 30%;
    margin: 0 auto;
}
.line-ebec {
	visibility: hidden;
	display: none;
}
.intro-text {
	padding-bottom: 98px;
}
.team-img {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}

}




@media (max-width: 360px) {
.section-title {
	margin-bottom: -50px;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 5px;
}
.best-logo-about {
	margin-top: 30px;
}
.TDcol p {
	padding-bottom: 0;

}
/*.serviceCS {
	width: 99.666667%;
}*/
#casestudy-section {
	padding: 10px;
}
#services-section {
	padding: 10px;

}
.hover-bg .hover-text {
	padding: 22% 10%;
	background-color: #2c3e50 !important;
	opacity: 0.85;
	padding: 0 !important;
	float: none;
}

.ebec-logo {
	margin-left: 25px;
    width: 34%;
}
.user-toggle {
	margin-right: 45px;
	background-color: transparent;
}

.menu-list {
      text-align: center;
      padding-bottom: 10px;
     /* margin: 0 auto;*/
}
#buton-aplica {
	width: 30%;
    margin: 0 auto;

}
.best-logo-about {
	margin-top: 30px;
}
.line-ebec {
	visibility: hidden;
	display: none;
}
.challenge-ebec {
	float: left;
}
.intro-text {
	padding-bottom: 98px;
}
.team-img {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}


}
/* Parteneri ebe15 */
@-moz-document url-prefix() {
   .footer-c img
   {display:block;margin:auto; width: 120px;
   }
}
.footer-c {
    background-color: #fff
}
.set {
    padding: 30px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff
}

.col-sm-3 img {
    margin: 0 auto;
    display: block
}
.set h3 a {
    text-transform: none
}

.footer-c .row h3 {
    margin-top: 20px;
}
.footer-c .col-md-2,
.footer-c .col-md-6,
.footer-c .col-md-4,
.footer-c .col-md-12 {
    height: 100px;
    padding: 0;
    margin-top: 20px
}
.footer-c a {
    display: table-cell;
    height: 100px;
    vertical-align: middle
}
.footer-c h1 {
    margin-bottom: 20px
}
.footer-c .mid {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block
}
.footer-c img {
    display: block;
    margin: auto;
}

@media (min-width: 768px) {

    /*.container {
        padding-left: 35px;
        padding-right: 35px
    }*/
    .full {
        width: 100%;
        max-width: 100%;
        padding: 0
    }
    .set {
        padding: 60px 35px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff
    }
.analytics {
	display: none;
	visibility: hidden;
}
}


/*#particles-js {
  width: 100%;
  height: 100%;
	background: url("https://i.imgur.com/IpGJP8H.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}*/

.navbar {
    margin-bottom: 0 !important;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('https://i.imgur.com/IpGJP8H.jpg');

	/*https://i.imgur.com/Mhs8APy.jpg*/
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


/*#thankyou h2 {
	font-size: 22px;
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);

}*/

/*.demo-1 {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}


 .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title,
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}*/
/**, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


@media screen and (min-width: 800px) {
	body #cdawrap {
		width: 180px;
		right: 25px;
		top: 100%;
		position: absolute;
		margin-top: 25px;
	}
}

@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}*/

#demo-canvas {
	background-color: #000;
	opacity: 0.7;
}

#thankyou {

	display: none;
	color: #fff;
	margin-top: 50px;
}

#thankyou h2 {
	/*margin-top: 10px;*/
	font-size: 20px;
}

.helloTest h1 {
	font-size: 4.5em;
}
.helloTest p {
	font-size: 1.8em;
}
.warning-team {
	font-size: 16px;
	font-weight: 300;

}
.team-label {
	/*padding: 7px;*/
	font-size: 14px;
	/*margin-bottom: 5px;*/
}

.buton-aplica-centru {
	background-color: #eea225;
	color: #fff;
	transition: all .2s ease-in-out;
}

.buton-aplica-centru:hover {
	background-color: #d35400;
	color: #fff;
	 transform: scale(1.3);
}
#form-submit {
	margin-bottom: 20px;
}
#form-submit2 {
	margin-bottom: 20px;
}
