<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recrutări BEST Chisinau</title>

    <meta property="og:title" content="Recrutări BEST Chișinău">
    <meta property="og:image" content="https://image.ibb.co/djiaWF/16640983_1352693871419470_3013928712336906359_n.jpg">
    <meta property="og:description" content="BEST este o organizație studențească de voluntariat din care fac parte studenți din peste 30 țări.">
    <meta property="og:url" content="http://best-chisinau.org/apply/">

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/images/recrutari/favicon.ico" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{{ site.url }}/assets/css/apply.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="#"><img class="navbar-brand page-scroll" src="{{ site.url }}/assets/images/recrutari/best-logo.png"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Ce este BEST?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Despre BEST Chișinău</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#parteneri">Parteneri</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://docs.google.com/forms/d/1vRNvMi-6fX5YZ212nBCSTD4S6LZnNnzT3VthcjHMyuY/viewform" style="text-decoration: underline;">Aplică!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-image: url('{{ site.url }}/assets/images/recrutari/header-bg.png')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">BEST Chișinău recrutează</div>
                <a href="https://docs.google.com/forms/d/1vRNvMi-6fX5YZ212nBCSTD4S6LZnNnzT3VthcjHMyuY/viewform" class="page-scroll btn btn-xl">Aplică acum!</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ce este BEST?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Organizație studențească internațională</h4>
                    <p class="text-muted">BEST (Board of European Students of Technology) e reprezentat în 95 universități, 33 țări și cu peste 3300 membri</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading" style="height: 38px">Motto-urile și valorile</h4>
                    <p class="text-muted"><b>Misiunea</b> BEST este <em>Developing Students</em> iar <b>viziunea</b> - <em>Empowering Diversity</em>. <b>Spiritul BEST</b> e definit de valorile: <em>flexibility</em>, <em>friendship</em>, <em>fun</em>, <em>improvement</em> și <em>learning</em>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading" style="height: 38px">Poziția</h4>
                    <p class="text-muted">BEST este o asociație voluntară, apolitică, non-profit, internațională a studenților europeni din domeniile tehnologice. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Despre BEST Chișinău</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007</h4>
                                    <h4 class="subheading">Crearea BEST Chișinău</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="#"><h4>Aplică
                                    <br>acum!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="row header-organized">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">BEST Chișinău a organizat:</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2">
                    <h1 class="text-primary">8</h1>
                    <h3 class="text-muted">cursuri de vară</h3>
                </div>
                <div class="col-md-2">
                    <h1 class="text-primary">8</h1>
                    <h3 class="text-muted">competiții BEC și EBEC</h3>
                </div>
                <div class="col-md-2">
                    <h1 class="text-primary">3</h1>
                    <h3 class="text-muted">evenimente hackathon</h3>
                </div>
                <div class="col-md-2">
                    <h1 class="text-primary">5</h1>
                    <h3 class="text-muted">competiții Rube Goldberg</h3>
                </div>
                <div class="col-md-2">
                    <h1 class="text-primary">2</h1>
                    <h3 class="text-muted">evenimente Creative Lab</h3>
                </div>
                <div class="col-md-2">
                    <h1 class="text-primary">2</h1>
                    <h3 class="text-muted">conferințe regionale BEST</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 75px">
                <div class="col-md-12 text-center" >
                    <a href="https://docs.google.com/forms/d/1vRNvMi-6fX5YZ212nBCSTD4S6LZnNnzT3VthcjHMyuY/viewform" class="btn btn-xl">Aplică acum!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Echipa organizatorică recrutări</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/nicoleta.iliuha"><img src="{{ site.url }}/assets/images/recrutari/team/leta.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/nicoleta.iliuha"><h4>Nicoleta Iliuha</h4></a>
                        <p class="text-muted">Main Organizer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/alinichalinich"><img src="{{ site.url }}/assets/images/recrutari/team/alina.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/alinichalinich"><h4>Alina Ocuneva</h4></a>
                        <p class="text-muted">Design Responsible</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/stratulat.mary"><img src="{{ site.url }}/assets/images/recrutari/team/mariana.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/stratulat.mary"><h4>Mariana Stratulat</h4></a>
                        <p class="text-muted">HR Responsible</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/iura.delov"><img src="{{ site.url }}/assets/images/recrutari/team/iura.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/iura.delov"><h4>Iura Delov</h4></a>
                        <p class="text-muted">Logistics Responsible</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/malicsandu"><img src="{{ site.url }}/assets/images/recrutari/team/sandu.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/malicsandu"><h4>Sandu Malic</h4></a>
                        <p class="text-muted">Marketing Responsible</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.facebook.com/Muntean.Toma1"><img src="{{ site.url }}/assets/images/recrutari/team/toma.jpg" class="img-responsive img-circle img-team" alt=""></a>
                        <a href="https://www.facebook.com/Muntean.Toma1"><h4>Toma Muntean</h4></a>
                        <p class="text-muted">CR Responsible</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients" id="parteneri">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parteneri</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.ilvi-pac.com/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/ilvipac.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.kaufland.ro">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/kaufland.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://minitipograph.md">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/mitigi.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.starnet.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/starnet.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.facebook.com/vertigointeractive/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/vertigo.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://utm.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/utm.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-12 col-sm-6">
                    <img src="{{ site.url }}/assets/images/recrutari/logos/sgm.png" class="img-responsive img-centered img-logo" alt="" style="height: 160px">
                </div>
            </div>
        </div>
        <div class="container media-partners">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parteneri Media</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://zugo.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/media/zugo.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://locals.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/media/locals.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.trm.md/ro/rmt/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/media/rmt.jpg" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://zoomit.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/media/zoomit.png" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
                <div class="col-md-12 col-sm-6">
                    <a href="http://diez.md/">
                        <img src="{{ site.url }}/assets/images/recrutari/logos/media/diez.jpg" class="img-responsive img-centered img-logo" alt="" style="height: 60px">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; BEST Chisinau 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Theme JavaScript -->
    <script src="{{ site.url }}/assets/js/apply.js"></script>

</body>

</html>
