<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EBEC 2017</title>
<meta name="description" content="">
<meta name="author" content="">

<meta property="og:title" content="EBEC 2017">
<meta property="og:image" content="http://i.imgur.com/EV2EbFl.png">
<meta property="og:description" content="European BEST Engineering Competition este o competiție inginerească de nivel european constituită din 3 etape: locală, regională și finală.
Aceasta este organizată de BEST Chișinău exclusiv pentru studenții Universității Tehnice a Moldovei. Aceștia pot participa la una din cele 2 probe propuse: Case Study și Team Design.">
<meta property="og:url" content="http://best-chisinau.org/ebec17/">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon">
<!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->

<!-- Bootstrap -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.22.0/css/blueimp-gallery.min.css">
<link rel="stylesheet" type="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


<link rel="stylesheet" type="text/css"  href="{{ site.url }}/assets/css/ebec.css">



<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar-default" data-offset="80">

<!-- <div id="preloader">
  <div class="rotate"> <img src="img/roata.svg" height="64" width="64" alt=""> </div>
</div> -->
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top user-navbar">
  <div class="container container-menu" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed user-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

      <a class=" page-scroll " href="#home">

      <!-- <img src="img/ebec_logo2.png" class="img-responsive ebec-logo" alt="EBEC logo"> -->
      <img src="{{ site.url }}/assets/images/ebec_logo2.png" class="img-responsive ebec-logo" alt="EBEC logo">

      </a>

      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navigation-user" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right menu-list">
   <!--      <li><a href="#home" class="page-scroll">Acasă</a></li> -->
        <li><a href="#about-section" class="page-scroll">EBEC</a></li>
        <li><a href="#services-section" class="page-scroll">Team Design</a></li>
        <li><a href="#casestudy-section" class="page-scroll">Case Study</a></li>
        <li><a href="#works-section" class="page-scroll">Fotografii</a></li>
        <li><a href="#team-section" class="page-scroll">Organizatori</a></li>
        <li><a href="#testimonials-section" class="page-scroll">Parteneri</a></li>
        <!-- <li><a href="application-page/application.html"  id="buton-aplica">Aplică! -->
        <li><a href="{{ site.url }}/ebec17/application"  id="buton-aplica">Aplică!
        </a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>




<!-- Header -->
<header class="text-center" name="home" >

<!-- Thank you for applying message-->
  <div id="thankyou" onclick="showMessage()"  >
    <h2><strong>Aplicarea a fost înregistrată cu succes. Îţi mulţumim!</strong></h2>
    <h2>Dacă ai întrebări, ne poţi scrie pe chisinau@best.eu.org.</h2>
  </div>
<!-- Thank you for applying message-->


  <div class="intro-text">


<!-- /.modal trigger -->
    <h1 class="wow fadeInDown"><strong><span class="color">EBEC
    <span class="line-ebec">|</span> <span class="challenge-ebec">Challenge your limits!</span></span></strong></h1>
    <p class="wow fadeInDown">4 - 5 martie</p>

    <p>
    <!-- <a href="https://www.youtube.com/watch?v=nCCC07bCAaE" class="btn btn-danger btn-lg wow fadeInUp" data-toggle="modal" data-wow-delay="200ms" role="button" data-width="640" data-height="360">Mai mult</a> -->

    <a class="btn btn-danger btn-lg wow fadeInDown" href="{{ site.url }}/ebec17/application" data-wow-delay="200ms" >Aplică acum!</a>

    </p>
  </div>
    <!-- Yt -->
</header>


<!-- About Section -->
<div id="about-section" >
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>Despre <strong> EBEC</strong> </h2>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-4 wow fadeInLeft best-logo-about"> <img src="{{ site.url }}/assets/images/best.svg" class="img-responsive"> </div>
      <div class="col-md-6 wow fadeInRight">

          <h4>Ce este <strong> EBEC</strong> ?</h4>
          <p>European BEST Engineering Competition este o competiție inginerească de nivel european constituită din 3 etape: locală, regională și finală. De aceea, cunoașterea limbii engleze îți va fi de mare folos. Pentru a ajunge să concurezi cu studenți din Cluj-Napoca, Timișoara, București, Brașov și Iași la etapa regională, trebuie să câștigi etapa locală. Aceasta este organizată de <strong><a href="#">BEST Chișinău</a></strong> exclusiv pentru studenții Universității Tehnice a Moldovei. Aceștia pot participa la una din cele 2 probe propuse: Case Study și Team Design. </p>
          <div class="space"></div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 wow fadeInLeft"> <img src="{{ site.url }}/assets/images/utm_logo.svg" class="img-responsive"> </div>

          <div class="col-md-6">
          <h4><strong>Cine</strong> poate participa?</h4>
          <p>Ești student <strong>UTM</strong>? Vrei să-ți testezi abilitățile, creativitatea și ingeniozitatea în competiție cu alți studenți tehnicieni? Atunci EBEC este pentru tine! </p>

          <div class="space"></div>
          <p>Ai 2 alternative:</p>
          <div class="list-style">
            <div class="row">

              <div class="col-md-12">
                <ul>
                  <li>Formează-ți echipa din 4 studenți și aplicați împreună;</li>
                  <li>Aplică singur, iar noi îți găsim coechipieri.</li>
        <!--           <li>Duis sed dapibus leo</li>
                  <li>Sed commodo nibh ante</li> -->
                </ul>
              </div>
</div>

<!--               <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Consectetur adipiscing</li>
                  <li>Duis sed dapibus leo</li>
                  <li>Sed commodo nibh ante</li>
                </ul>
              </div> -->
            </div>

          </div>
          </div>
      </div>


  </div>



<!-- Team Design -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Team Design</strong></h2>
      <hr>
      <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 wow fadeInLeft"> <img src="{{ site.url }}/assets/images/TD4.png" class="img-responsive td-img"> </div>

          <div class="col-md-8 TDcol">
      <!--     <h4><strong>Cine</strong> poate participa?</h4> -->

             <p>Aici ai ocazia să construiești un prototip testându-ți abilitățile de inginer-inventator în condiții extreme. </p>
      <p>Vei avea 8 ore la dispoziție, materiale neconvenționale (carton, motorașe, rigle, nisip etc.), fără acces la internet, doar mintea lucidă și plină de imaginație a ta și a coechipierilor.</p>
       <p>Dispozitivul tău îndeplinește toate condițiile din regulament, iar design-ul lui atrage toate privirile?</p>
       <p>Convinge și juriul prezentându-l cât mai spectaculos și premiul e în mâinile tale!</p>

          </div>



    </div>

<!-- <div id="randombutton">
  <a class="btn btn-warning wow fadeInLeft " data-target="#videoModalone" data-toggle="modal" data-wow-delay="200ms">Vezi Teaser</a>
</div> -->
<!-- TD Modal -->

<div id="randombutton">
  <a class="btn btn-warning wow fadeInLeft" href="https://www.youtube.com/watch?v=Pf6xe77Rr7Y" target="_blank">Vezi Teaser</a>
</div>

<!-- <div id="modal1">
<div class="modal fade" id="videoModalone">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">a
                <span id="close-modal" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe width="565" height="350" src="http://www.youtube.com/embed/Pf6xe77Rr7Y" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
 </div> -->
<!-- Modal -->

    <div class="space"></div>
        <div class="row">
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms">
<!-- <img src="img/icons/materiale.svg" class="img-responsive img-test"> -->
<img src="{{ site.url }}/assets/images/icons/materiale.svg" class="img-responsive img-test">

      <!-- <i class="fa fa-desktop">
      </i> -->
        <h4><strong>Materiale</strong></h4>
        <p>Îți oferim pentru lucru materiale <strong>neconvenționale</strong>, la care are acces orice student.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms">
<!--
      <img src="img/icons/mecanismTD.svg" class="img-responsive img-test"> -->
    <img src="{{ site.url }}/assets/images/icons/mecanismTD.svg" class="img-responsive img-test">
        <h4><strong>Mecanism</strong></h4>
        <p>Vei avea de <strong>proiectat</strong> și <strong>construit</strong> un mecanism care să îndeplinească cerințele prestabilite de organizatori.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms">
      <!-- <img src="img/icons/designTD.svg" class="img-responsive img-test"> -->
      <img src="{{ site.url }}/assets/images/icons/designTD.svg" class="img-responsive img-test">
        <h4><strong>Design</strong></h4>
        <p>Ca orice prototip, dispozitivul tău trebuie să fie bine gândit și ca <strong>aspect</strong>, nu doar funcțiune.</p>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms">
      <!-- <img src="img/icons/prezentareTD.svg" class="img-responsive img-test"> -->
            <img src="{{ site.url }}/assets/images/icons/prezentareTD.svg" class="img-responsive img-test">
        <h4><strong>Prezentare</strong></h4>
        <p>Orice invenție trebuie pusă în valoare. Asigură-te că-i vei face o prezentare pe măsură.</p>
      </div>
    </div>



</div>





</div>

<!-- <hr class="delimitare-probe"> -->
<!-- Case Study de schimbat id -->


<div id="casestudy-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Case Study</strong></h2>
      <hr>
      <div class="clearfix"></div>
       </div>

      <div class="row">

          <div class="col-md-7 TDcol">
         <p>Provocarea este să vii cu soluții inginerești la o problemă din societate. Vei avea la dispoziție 8 ore de lucru fără acces la internet, doar imaginația, ingeniozitatea, cunoștințele tale și a coechipierilor. </p>
         <p>Soluția ta este perfectă atunci când știi cum, când și de ce aceasta trebuie aplicată.</p>
         <p>Îți rămâne doar să o prezinți cât mai atractiv, ca să convingi juriul că anume rezolvarea ta trebuie implementată. </p>

          </div>
        <div class="col-md-4 wow fadeInLeft">  <img src="{{ site.url }}/assets/images/cs.png" class="img-responsive img-test"></div>

         <div class="col-md-1"></div>

    </div>
 <div class="space"></div>


<!--   <a class="btn btn-warning wow fadeInLeft " data-target="#videoModaltwo" data-toggle="modal" data-wow-delay="200ms" >Vezi Teaser</a> -->

<!-- <div id="randombutton2">
  <a class="btn btn-warning wow fadeInLeft " data-target="#videoModaltwo" data-toggle="modal" data-wow-delay="200ms">Vezi Teaser</a>
</div> -->
<!-- TD Modal -->

<div id="randombutton2">
  <a class="btn btn-warning wow fadeInLeft" href="https://www.youtube.com/watch?v=MrFDqvWu_c4" target="_blank">Vezi Teaser</a>
</div>

<!-- CS Modal -->
<!-- <div id="modal2">
<div class="modal fade" id="videoModaltwo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">a
                <span id="close-modal" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe width="565" height="350" src="http://www.youtube.com/embed/MrFDqvWu_c4" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
</div> -->
<!-- Modal -->


      <div class="space"></div>

    <!-- <div class="row"> -->

      <div class="col-md-3 serviceCS wow fadeInUp" data-wow-delay="200ms">
      <i class="fa fa-question question-icon"></i>
   <!--    <img src="img/design.png" class="img-responsive img-test"> -->
        <h4><strong>Problemă</strong></h4>
        <p>În societate sunt multe probleme ce necesită a fi <strong>rezolvate</strong>, una din ele te așteaptă la EBEC.</p>
      </div>

      <div class="col-md-3 serviceCS wow fadeInUp" data-wow-delay="400ms">
          <!-- <img src="img/icons/cercetareCS2.svg" class="img-responsive img-test"> -->
        <img src="{{ site.url }}/assets/images/icons/cercetareCS2.svg" class="img-responsive img-test">
        <h4><strong>Cercetare</strong></h4>
        <p>Pentru a găsi cea mai bună <strong>soluție</strong>, trebuie să <strong>analizezi</strong> bine situația propusă.</p>
      </div>

      <div class="col-md-3 serviceCS wow fadeInUp" data-wow-delay="600ms">
      <!-- <img src="img/icons/ideiCS.svg" class="img-responsive img-test"> -->
            <img src="{{ site.url }}/assets/images/icons/ideiCS.svg" class="img-responsive img-test">
        <h4><strong>Idei</strong></h4>
        <p>Propune cât mai <strong>multe</strong> idei de soluționare pentru a avea din ce alege.</p>
      </div>

      <div class="col-md-3  serviceCS wow fadeInUp" data-wow-delay="800ms">
      <!-- <img src="img/icons/solutieCS.svg" class="img-responsive img-test"> -->
                  <img src="{{ site.url }}/assets/images/icons/solutieCS.svg" class="img-responsive img-test">
        <h4><strong>Soluție</strong></h4>
        <p>Rezolvarea trebuie să fie <strong>SMART</strong> (<strong>S</strong>pecifică <strong>M</strong>ăsurabilă <strong>A</strong>ccesibilă <strong>R</strong>ealistă încadrată în <strong>T</strong>imp).</p>
      </div>

      <div class="col-md-3 serviceCS wow fadeInUp" data-wow-delay="1000ms">
      <!-- <img src="img/icons/prezentareCS.svg" class="img-responsive img-test"> -->
      <img src="{{ site.url }}/assets/images/icons/prezentareCS.svg" class="img-responsive img-test">
        <h4><strong>Prezentare</strong></h4>
        <p>Prezintă cât mai <strong>clar</strong> și <strong>atractiv</strong>, pentru a fi apreciat la justa valoare.</p>
      </div>

   <!--  </div> -->



  </div>


  </div>





<!-- Portfolio Section -->



<div id="works-section" class="text-center">

<div class="container full ebec">
    <h2>Galerie</strong> </h2>
    <hr>
    <div class="clearfix"></div>
<div class="container set ebec-gallery">
  <div class="row">


<div id="links" class="links">
    <div class="col-sm-4 wow fadeInUp" data-wow-delay="200ms">
    <a href="{{ site.url }}/assets/images/ebec/(4).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(4)_tn.jpg" class="img-responsive">
    </a>
  </div>
  <div class="col-sm-4 wow fadeInUp" data-wow-delay="400ms">
    <a href="{{ site.url }}/assets/images/ebec/(1).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(1)_tn.jpg" class="img-responsive">
    </a>

  </div>
  <div class="col-sm-4 wow fadeInUp" data-wow-delay="600ms">
    <a href="{{ site.url }}/assets/images/ebec/(5).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(5)_tn.jpg" class="img-responsive">
    </a>
  </div>
 <div class="col-sm-4 wow fadeInUp" data-wow-delay="800ms">
    <a href="{{ site.url }}/assets/images/ebec/(6).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(6)_tn.jpg" class="img-responsive">
    </a>
  </div>

  <div class="col-sm-4 wow fadeInUp" data-wow-delay="1000ms">
    <a href="{{ site.url }}/assets/images/ebec/(11).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(11)_tn.jpg" class="img-responsive">
    </a>
  </div>
  <div class="col-sm-4 wow fadeInUp" data-wow-delay="1100ms">
    <a href="{{ site.url }}/assets/images/ebec/(14).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(14)_tn.jpg" class="img-responsive">
    </a>
  </div>
  <div class="col-sm-4 wow fadeInUp" data-wow-delay="1200ms">
    <a href="{{ site.url }}/assets/images/ebec/(16).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(16)_tn.jpg" class="img-responsive">
    </a>
  </div>
 <div class="col-sm-4 wow fadeInUp" data-wow-delay="1300ms">
    <a href="{{ site.url }}/assets/images/ebec/(17).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(17)_tn.jpg" class="img-responsive">
    </a>
  </div>
    <div class="col-sm-4 wow fadeInUp" data-wow-delay="1400ms">
    <a href="{{ site.url }}/assets/images/ebec/(18).jpg" data-gallery>
        <img src="{{ site.url }}/assets/images/ebec/thumb/(18)_tn.jpg" class="img-responsive">
    </a>
  </div>

 <a href="{{ site.url }}/assets/images/ebec/(2).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>
   <a href="{{ site.url }}/assets/images/ebec/(3).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>
<a href="{{ site.url }}/assets/images/ebec/(7).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>
    <a href="{{ site.url }}/assets/images/ebec/(8).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>
<a href="{{ site.url }}/assets/images/ebec/(9).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>
<a href="{{ site.url }}/assets/images/ebec/(12).jpg" data-gallery>
<!--       <img src="#" class="img-responsive"> -->
    </a>





</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- <a class="play-pause"></a>
    <ol class="indicator"></ol> -->
</div>


</div> </div> </div>
</div>



<!-- Portfolio Section -->





<!-- Team Section -->
<div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Echipa de organizare</strong></h2>
      <hr>
      <div class="clearfix"></div>
     <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p> -->
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/sasa.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Alexandru Mogîldea</h3>
            <p>Coordonator Proiect</p>
             <p>Telefon: 060 014 021</p>
            <p>Email: <a href="mailto:sashamogildea@gmail.com">alexandru.mogildea@BEST.eu.org</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="300ms">
        <div class="thumbnail">
            <img src="{{ site.url }}/assets/images/team/nicoleta.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Nicoleta Grosu</h3>
            <p>Coordonator Relații Corporative</p>
            <p>Telefon: 069 148 144</p>
            <p>Email: <a href="mailto:grosu.nicoleta96@gmail.com">  nicoleta.grosu@BEST.eu.org</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/dana.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Daniela Porcescu</h3>
            <p>Coordonator Resurse Umane</p>
            <p>Telefon: 068 074 233</p>
            <p>Email: <a href="mailto:danielaporcescu1@gmail.com">daniela.porcescu@BEST.eu.org</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="500ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/cozma.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Nicoleta Cozma</h3>
            <p>Coordonator PR (Marketing)</p>
            <p>Telefon: 068 280 385</p>
            <p>Email: <a href="mailto:nicacozma@gmail.com">nicoleta.cozma@BEST.eu.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Team Section 2 -->
<div id="team-section" class="text-center">
  <div class="container">
    <div id="row">
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/iura.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Iura Delov</h3>
            <p>Coordonator PR (Design)</p>
            <p>Telefon: 060 911 106</p>
            <p>Email:<span style="visibility:hidden">em</span> <a href="mailto:deloviura@gmail.com">iura.delov@BEST.eu.org</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="300ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/nastea.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Anastasia Vișnevschi	</h3>
            <p>Coordonator Tematică</p>
            <p>Telefon: 069 063 222</p>
           <p>Email: <a href="mailto:visnevschi.nastea@gmail.com">anastasia.visnevschi@BEST.eu.org </a></p>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
        <div class="thumbnail">
          <img src="{{ site.url }}/assets/images/team/medina.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Medina Cotoman</h3>
            <p>Secretar Proiect</p>
             <p>Telefon: 069 393 625</p>
           <p>Email: <a href="mailto:cotoman.medina@gmail.com">medina.cotoman@BEST.eu.org</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="500ms">
        <div class="thumbnail">
            <img src="{{ site.url }}/assets/images/team/victoria.jpg" class="img-circle team-img">
          <div class="caption">
            <h3>Victoria Botnari</h3>
            <p>Responsabilă de participanți</p>
            <p>Telefon: 067 458 207</p>
            <p>Email: <a href="mailto:victoriabotnari.s@gmail.com">victoria.botnari@BEST.eu.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center container full footer-c">
  <div class="container set wow fadeInDown">
    <div class="section-title wow fadeInDown">
      <h2><strong>Parteneri</strong></h2>
      <hr>
    </div>
<br>

 <div class="row wow fadeInDown">
          <h3>Parteneri generali:</h3>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
             <a href="http://www.utm.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/utm_logo.png" style="max-width:120px">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
             <a href="http://moldova.usaid.gov/" target="_blank">
                <img class="img-responsive" src="{{ site.url }}/assets/images/logo/usaid1.png" style="max-width:110px">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
             <a href="http://www.sida.se/English/" target="_blank">
                <img class="img-responsive" src="{{ site.url }}/assets/images/logo/sida.png" style="max-width:110px">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
             <a href="https://www.facebook.com/Tekwill-513351475500950/?fref=ts&__mref=message" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/tekwill.png" style="max-width:90px; max-height:90px; margin-left:20px;">
            </a>
          </div></div>


</div>




<!-- anuali -->
 <div class="row wow fadeInDown">
          <h3>Parteneri anuali:</h3>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
           <a href="http://www.kaufland.ro/Home/index.jsp" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/kaufland.png" style="max-width:110px">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://starnet.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/starnet.png" style="max-width:120px"  >
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="https://www.facebook.com/AXA.Management.Consulting/">
                <img class="img-responsive" src="{{ site.url }}/assets/images/logo/axa.png" style="max-width:110px">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
          <a href="http://minitipograph.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/mitigi.png" style="max-width:110px">
          </a>
          </div></div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
        <a href="https://www.facebook.com/vertigointeractive/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/vertigo.png" style="max-width:80px" >
          </a>
          </div></div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
        <a href="http://www.ilvi-pac.com/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/ilvipac2.png" style="max-width:110px; max-height:60px" >
          </a>
          </div></div>
</div>

 <div class="row wow fadeInDown">
          <h3>Suporteri:</h3>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
     <a href="https://stefanini.com/en/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/stefanini.png" style="max-width:80px">
            </a>
          </div></div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="https://www.tei.md/" target="_blank">
                <img class="img-responsive" src="{{ site.url }}/assets/images/logo/tei.png" style="max-width:110px" >
            </a>
          </div></div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://studentadventure.md/" target="_blank">
                <img class="img-responsive" src="{{ site.url }}/assets/images/logo/sa.png" style="max-width:110px" >
            </a>
          </div></div>

          <!-- <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="https://www.facebook.com/chefs.shaorma/" target="_blank">
              <img class="img-responsive" src="img/logo/chefs.jpg">
            </a>
          </div></div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
          <a href="http://www.targuldecariere.ro/chisinau/" target="_blank">
              <img class="img-responsive" src="img/logo/tdc2.png" style="max-width:80px">
            </a>
          </div></div>
                 <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
          <a href="http://www.redbull.com/ro/ro" target="_blank">
              <img class="img-responsive" src="img/logo/dozaredbull2.png" style="max-height:100px">
          </a>
          </div></div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://www.cristalov.com" target="_blank">
              <img class="img-responsive" src="img/logo/cristalov1.png">
            </a>
          </div></div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://atelier99.org/" target="_blank">
              <img class="img-responsive" src="img/logo/a99.png" style="max-width:80px;">
            </a>
          </div></div> -->
</div>


          <div class="row">
          <h3>Parteneri media:</h3>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://diez.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/diez.png">
            </a>
          </div></div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://locals.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/locals.jpg" style="max-width:90px">
            </a>
          </div></div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://zugo.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/zugo.png">
            </a>
          </div></div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://zoomit.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/zoomit.png">
            </a>
          </div></div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><div class="mid">
            <a href="http://www.fest.md/" target="_blank">
              <img class="img-responsive" src="{{ site.url }}/assets/images/logo/fest.png">
            </a>
          </div></div>
    </div>

</div>



  </div>




<!-- Contact Section -->




<div id="footer">
  <div class="container">
      <p><a href="http://best-chisinau.org/" target="_blank"  rel="nofollow">Copyright © BEST Chisinau 2017</a></p>
  </div>
</div>







<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.22.0/js/blueimp-gallery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.22.0/js/jquery.blueimp-gallery.min.js"></script>


<!-- Javascripts
    ================================================== -->
<script type="text/javascript" src="{{ site.url }}/assets/js/ebec.js"></script>







<script>
var helloWorld = function() {
  var answer = localStorage.thankYouMessage
  if (answer === 'visible') {
    showMessage()
  }
  else {
    hideMessage()
  }
}
var showMessage = function () {
  var message = document.querySelector("#thankyou")
  message.style.visibility='visible'
  message.className = 'wow fadeIn'
}
var hideMessage = function () {
  var message = document.querySelector("#thankyou")
  var answer = localStorage.thankYouMessage
  if (answer === 'visible') {
    message.className = 'wow fadeOut'
  }
  setTimeout(function(){
    message.style.visibility='hidden'
  },2000)

}
helloWorld();
setTimeout(function(){localStorage.thankYouMessage = 'hidden';helloWorld();}, 35000)
</script>



</body>
<!--Analytics -->
<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74425939-1', 'auto');
  ga('send', 'pageview');
</script> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91885784-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
