<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aplică</title>
		<meta property="og:title" content="Aplică la EBEC Chișinău 2017">
		<meta property="og:image" content="http://i.imgur.com/EV2EbFl.png">
		<meta property="og:description" content="European BEST Engineering Competition este o competiție inginerească de nivel european constituită din 3 etape: locală, regională și finală.
		Aceasta este organizată de BEST Chișinău exclusiv pentru studenții Universității Tehnice a Moldovei. Aceștia pot participa la una din cele 2 probe propuse: Case Study și Team Design.">
		<meta property="og:url" content="http://best-chisinau.org/ebec17/">
				<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">


<!-- <link href="../css/style.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" /> -->

		<link href="{{ site.url }}/assets/css/ebec.css" rel="stylesheet" media="screen">
				<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/demo.css" />
				<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/component.css" />
	</head>
	<body>

	<!-- Navigation
    ==========================================-->

   <!-- 	   <div class="">
      <a class="navbar-brand page-scroll" href="../index.html#home">
      <img src="../img/logowhite.svg" class="img-responsive ebec-logo" alt="EBEC logo">
      </a>
      </div>
 -->


		<div class="container">
			<div id="splitlayout" class="splitlayout">
				<div class="intro">
					<div class="side side-left">


						<div class="intro-content">
							<div class="profile"><!-- <img src="img/casestudy.svg" alt="profile1"> -->
								<i class="fa fa-pencil fa-4x"></i>
								<i class="fa fa-bar-chart  fa-4x"></i>
								<i class="fa fa-puzzle-piece  fa-4x"></i>

							</div>
							<h1><span>Case Study </span>
							<!-- <hr class="linia-aplica"> -->
							<span>Rezolvă o problemă </span>
						<!-- 	<span>din societate </span> -->
							</h1>
						</div>
						<div class="overlay"></div>
					</div>

					<div class="side side-right">
						<div class="intro-content">
							<div class="profile"><!-- <img src="img/teamdesign.svg" alt="profile2"> -->
								<i class="fa fa-paper-plane-o fa-4x"></i>
								<i class="fa fa-cog  fa-4x"></i>
								<i class="fa fa-rocket  fa-4x"></i>

							</div>
							<h1><span>Team Design </span>
							<!-- <hr class="linia-aplica"> -->
							<span>Construiește un prototip</span>
						</h1>
						</div>
						<div class="overlay"></div>
					</div>
				</div><!-- /intro -->



<!-- Team Design -->

				<div class="page page-right">
					<div class="page-inner">



<!-- To edit here TD -->
<div class="ss-form-container"><div class="ss-header-image-container"><div class="ss-header-image-image"><div class="ss-header-image-sizer"></div></div></div>
<div class="ss-top-of-page"><div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">Aplică la Team Design</h1>
</div>
</div>

<div class="ss-form">

<!-- To edit here -->
 <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='../index.html'; localStorage.thankYouMessage = 'visible'}">
</iframe>

<!-- To edit here -->
<form class="td-ver"  target="hidden_iframe" id="ss-form"  onsubmit="submitted=true;" action="https://docs.google.com/forms/d/e/1FAIpQLSfStfCxMVWS0Pf7Y02HKXpwKCRMh7YcLHyNnl7armYHUluHMg/formResponse" method="POST" >

<ol role="list" class="ss-question-list" style="padding-left: 0">


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_60869647"><div class="ss-q-title">Numele și Prenumele
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
	<br>
	<input type="text" name="entry.60869647" value="" class="ss-q-short form-group user-group" id="entry_60869647" dir="auto" aria-label="Numele și Prenumele  " aria-required="true" required="" title="">
	<div class="error-message" id="42478670_errorMessage"></div>
	<!--<div class="required-message">Aceasta este o &icirc;ntrebare obligatorie</div>-->
	</div></div></div>


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_524526077"><div class="ss-q-title">Numărul de telefon
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
	<br>
	<input type="text" name="entry.524526077" value="" class="ss-q-short  form-group user-group" id="entry_524526077" dir="auto" aria-label="Numărul de telefon  " aria-required="true" required="" title="">
	<div class="error-message" id="1712595954_errorMessage"></div>
	<!--<div class="required-message">Aceasta este o &icirc;ntrebare obligatorie</div>-->
	</div></div></div>



	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_1755149376"><div class="ss-q-title">E-mail
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
	<input type="text" name="entry.1755149376" value="" class="ss-q-short form-group user-group" id="entry_1755149376" dir="auto" aria-label="E-mail  " aria-required="true" required="" title="">
	<div class="error-message" id="1530139113_errorMessage"></div>
	</div></div></div>


	<!-- <div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_257788017"><div class="ss-q-title">Link la CV
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
	<input type="text" name="entry.257788017" value="" class="ss-q-short form-group user-group" id="entry_257788017" dir="auto" aria-label="Link la CV  " aria-required="true" required="" title="">
	<div class="error-message" id="973200740_errorMessage"></div>
	</div></div></div> -->



	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_463207113"><div class="ss-q-title">Facultatea
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>

	<!-- <input type="text" name="entry.463207113" value="" class="ss-q-short form-group user-group" id="entry_463207113" dir="auto" aria-label="Facultatea  " aria-required="true" required="" title=""> -->
	<select name="entry.463207113" id="entry_463207113" aria-label="Facultatea  " aria-required="true" class="facultatea" required="">
		<option value=""></option>
	<option value="Facultatea Inginerie &#537;i Management &icirc;n Electronic&#259; &#537;i Telecomunica&#539;ii">Facultatea Inginerie și Management în Electronică și Telecomunicații</option>
	<option value="Facultatea Energetic&#259; &#537;i Inginerie Electric&#259;">Facultatea Energetică și Inginerie Electrică</option>
	<option value="Facultatea Calculatoare, Informatic&#259; &#351;i Microelectronic&#259;">Facultatea Calculatoare, Informatică şi Microelectronică</option>
	<option value="Facultatea Tehnologie &#351;i Management &icirc;n Industria Alimentar&#259;">Facultatea Tehnologie şi Management în Industria Alimentară</option>
	<option value="Facultatea Inginerie Mecanic&#259;, Industrial&#259; &#351;i Transporturi">Facultatea Inginerie Mecanică, Industrială şi Transporturi</option>
	<option value="Facultatea Urbanism &#351;i Arhitectur&#259;">Facultatea Urbanism şi Arhitectură</option>
	<option value="Facultatea Cadastru, Geodezie &#351;i Construc&#355;ii">Facultatea Cadastru, Geodezie şi Construcţii</option>
	<option value="Facultatea Inginerie Economic&#259; &#351;i Business">Facultatea Inginerie Economică şi Business</option>
	<option value="Facultatea Industria U&#351;oar&#259;">Facultatea Industria Uşoară</option></select>

	<div class="error-message" id="1217751880_errorMessage"></div>
	<div class="required-message"></div>
</div></div></div><br>


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_1658272538"><div class="ss-q-title">Grupa
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
	<input type="text" name="entry.1658272538" value="" class="ss-q-short form-group user-group" id="entry_1658272538" dir="auto" aria-label="Grupa  " aria-required="true" required="" title="">
	<div class="error-message" id="1311197791_errorMessage"></div>
	<div class="required-message"></div>
	</div></div></div>


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_1687448379"><div class="ss-q-title">Anul de studii
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
	<input type="text" name="entry.1687448379" value="" class="ss-q-short form-group user-group" id="entry_1687448379" dir="auto" aria-label="Anul de studii  " aria-required="true" required="" title="">
	<div class="error-message" id="2076723895_errorMessage"></div>
	<div class="required-message"></div>
	</div></div></div>


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_1710642774"><div class="ss-q-title">Care este nivelul tău de cunoaștere a limbii engleze?
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

	<ul class="ss-choices" role="radiogroup" aria-label="Care este nivelul tău de cunoaștere a limbii engleze?  "><li class="ss-choice-item"><br>
	<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Nu cunosc limba" id="group_1933312186_1" role="radio" class="ss-q-radio" aria-label="Nu cunosc limba" required="" aria-required="true"></span>
	<span class="ss-choice-label">Nu cunosc limba</span>
	</label></li> <li class="ss-choice-item"><br>
	<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="&Icirc;ncep&#259;tor" id="group_1933312186_2" role="radio" class="ss-q-radio" aria-label="&Icirc;ncep&#259;tor" required="" aria-required="true"></span>
	<span class="ss-choice-label">Începător</span>
	</label></li> <li class="ss-choice-item"><br>
	<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Mediu" id="group_1933312186_3" role="radio" class="ss-q-radio" aria-label="Mediu" required="" aria-required="true"></span>
	<span class="ss-choice-label">Mediu</span>
	</label></li> <li class="ss-choice-item"><br>
	<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Avansat" id="group_1933312186_4" role="radio" class="ss-q-radio" aria-label="Avansat" required="" aria-required="true"></span>
	<span class="ss-choice-label">Avansat</span>
	</label></li></ul>
	<div class="error-message" id="1710642774_errorMessage"></div>
	</div></div></div><br>


	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_648419829"><div class="ss-q-title">Care sunt punctele tale forte, care crezi că te vor ajuta să câștigi această competiție?
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

	<textarea name="entry.648419829" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_648419829" dir="auto" aria-label="Care sunt punctele tale forte, care crezi că te vor ajuta să câștigi această competiție?  " aria-required="true" required=""></textarea>
	<div class="error-message" id="732940695_errorMessage"></div>
	<!--<div class="required-message">Aceasta este o &icirc;ntrebare obligatorie</div>-->
	</div></div></div>
	<br>



	<div class="ss-form-question errorbox-good" role="listitem">
	<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
	<label class="ss-q-item-label" for="entry_1728766918"><div class="ss-q-title">Ai echipă? Dacă da, specifică numele echipei și a membrilor.
	<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
	<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
	<div class="ss-q-help ss-secondary-text" dir="auto"><h6>Notă! Fiecare participant/membru al echipei trebuie să se <b>înregistreze individual</b>. Maxim 4 persoane în echipă.</h6></div></label>
	<textarea name="entry.1728766918" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1728766918" dir="auto" aria-label="Ai echipă? Dacă da, specifică numele echipei și a membrilor. Notă! Fiecare participant/membru al echipei trebuie să se înregistreze individual. Maxim 4 persoane în echipă. " aria-required="true" required=""></textarea>
	<div class="error-message" id="652976927_errorMessage"></div>
	</div></div></div>
	<br>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1382187894"><div class="ss-q-title">Dacă ai avea o clonă, ce ai vrea ea să facă?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1382187894" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1382187894" dir="auto" aria-label="Dacă ai avea o clonă, ce ai vrea ea să facă?  " aria-required="true" required=""></textarea>
<div class="error-message" id="1949814587_errorMessage"></div>
</div></div></div><br>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1065132302"><div class="ss-q-title">Cum ai putea crea o lupă în condiții casnice?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1065132302" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1065132302" dir="auto" aria-label="Cum ai putea crea o lupă în condiții casnice?  " aria-required="true" required=""></textarea>
<div class="error-message" id="556106455_errorMessage"></div>
</div></div></div><br>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1314500649"><div class="ss-q-title">Cum ai putea măsura greutatea unui Boeing 747 (avion pentru transportarea pasagerilor), fără a utiliza un cântar?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1314500649" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1314500649" dir="auto" aria-label="Cum ai putea măsura greutatea unui Boeing 747 (avion pentru transportarea pasagerilor), fără a utiliza un cântar?  " aria-required="true" required=""></textarea>
<div class="error-message" id="895303682_errorMessage"></div>
</div></div></div><br>



<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_496820539"><div class="ss-q-title">Mărimea tricoului?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<select name="entry.496820539" id="entry_496820539" aria-label="Mărimea tricoului?  " aria-required="true" required=""><option value=""></option>
<option value="S">S</option> <option value="M">M</option> <option value="L">L</option> <option value="XL">XL</option> <option value="XXL">XXL</option></select>
<div class="required-message"></div></div></div></div>
<br>

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_232014566"><div class="ss-q-title">Cum ai aflat despre evenimentul EBEC?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>

<ul class="ss-choices ss-choices-required" role="group" aria-label="Cum ai aflat despre evenimentul EBEC?   "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block">

<input type="checkbox" name="entry.196905324" value="Afi&#537;e" id="group_196905324_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Afișe</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Bro&#537;uri" id="group_196905324_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Broșuri</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Prieteni" id="group_196905324_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Prieteni</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Re&#539;ele de socializare" id="group_196905324_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Rețele de socializare</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Mass-media (specific&#259;)" id="group_196905324_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Mass-media (specifică)</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Mese informative" id="group_196905324_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Mese informative</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="__other_option__" id="group_196905324_7" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
<span class="ss-choice-label">Altele:</span></label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.196905324.other_option_response" value="" class="ss-q-other" id="entry_196905324_other_option_response" dir="auto" aria-label="Altele"></span>
</li> <br></ul>
<div class="error-message" id="232014566_errorMessage"></div>
<div class="required-message"></div></div></div></div>

<input type="hidden" name="draftResponse" value="[,,&quot;6390347784036927249&quot;]">
<input type="hidden" name="pageHistory" value="0">

<input type="hidden" name="fvv" value="0">


<input type="hidden" name="fbzx" value="6390347784036927249">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Aplică" id="ss-submit" class="btn btn-lg btn-success jfk-button jfk-button-action buton-aplica jfk-button jfk-button-action ">
</td>
</tr></tbody></table></div></ol></form></div>


					</div><!-- /page-inner -->
				</div><!-- /page-right -->
			</div>









<!-- Case Study -->
			<div class="page page-left" >
					<div class="page-inner">

<div class="ss-form-container"><div class="ss-header-image-container"><div class="ss-header-image-image"><div class="ss-header-image-sizer"></div></div></div>
<div class="ss-top-of-page"><div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">Aplică la Case Study</h1>

</div>
</div>
<div class="ss-form" >


<!-- To edit here -->
 <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='../index.html'; localStorage.thankYouMessage = 'visible'}"></iframe>

<!-- Case Study starts here -->
      <form class="cs-ver"  target="hidden_iframe" id="ss-form"  onsubmit="submitted=true;" action="https://docs.google.com/forms/d/e/1FAIpQLSdFnAY2wJpGe-f57VgLpBwOmOnp9YAAdmJP0dx_6GOn2zBLtQ/formResponse" method="POST" >


<!-- <form action="https://docs.google.com/forms/d/1_yWxjyDw1Mmga41Ropd2kb1vwzYzuDuQq-0_Jry_mNM/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""> -->

<ol role="list" class="ss-question-list" style="padding-left: 0" >

<!-- <div class="endclicking" onclick="return false;" onselect="return false;"> -->
<!-- End of clicking -->

<div class="endclicking" onclick="return false;" onselect="return false;">


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_60869647"><div class="ss-q-title">Numele și Prenumele
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<br>
<input type="text" name="entry.60869647" value="" class="ss-q-short form-group user-group" id="entry_60869647" dir="auto" aria-label="Numele și Prenumele  " aria-required="true" required="" title="">
<div class="error-message" id="42478670_errorMessage"></div>
</div></div></div>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_524526077"><div class="ss-q-title">Numărul de telefon
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<br>
<input type="text" name="entry.524526077" value="" class="ss-q-short  form-group user-group" id="entry_524526077" dir="auto" aria-label="Numărul de telefon  " aria-required="true" required="" title="">
<div class="error-message" id="1712595954_errorMessage"></div>
</div></div></div>



<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1755149376"><div class="ss-q-title">E-mail
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
<input type="text" name="entry.1755149376" value="" class="ss-q-short form-group user-group" id="entry_1755149376" dir="auto" aria-label="E-mail  " aria-required="true" required="" title="">
<div class="error-message" id="1530139113_errorMessage"></div>
</div></div></div>


<!-- <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_257788017"><div class="ss-q-title">Link la CV
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
<input type="text" name="entry.257788017" value="" class="ss-q-short form-group user-group" id="entry_257788017" dir="auto" aria-label="Link la CV  " aria-required="true" required="" title="">
<div class="error-message" id="973200740_errorMessage"></div>
</div></div></div> -->



<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_463207113"><div class="ss-q-title">Facultatea
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>

<!-- <input type="text" name="entry.463207113" value="" class="ss-q-short form-group user-group" id="entry_463207113" dir="auto" aria-label="Facultatea  " aria-required="true" required="" title=""> -->
<select name="entry.463207113" id="entry_463207113" aria-label="Facultatea  " aria-required="true" class="facultatea" required="">
	<option value=""></option>
<option value="Facultatea Inginerie &#537;i Management &icirc;n Electronic&#259; &#537;i Telecomunica&#539;ii">Facultatea Inginerie și Management în Electronică și Telecomunicații</option>
<option value="Facultatea Energetic&#259; &#537;i Inginerie Electric&#259;">Facultatea Energetică și Inginerie Electrică</option>
<option value="Facultatea Calculatoare, Informatic&#259; &#351;i Microelectronic&#259;">Facultatea Calculatoare, Informatică şi Microelectronică</option>
<option value="Facultatea Tehnologie &#351;i Management &icirc;n Industria Alimentar&#259;">Facultatea Tehnologie şi Management în Industria Alimentară</option>
<option value="Facultatea Inginerie Mecanic&#259;, Industrial&#259; &#351;i Transporturi">Facultatea Inginerie Mecanică, Industrială şi Transporturi</option>
<option value="Facultatea Urbanism &#351;i Arhitectur&#259;">Facultatea Urbanism şi Arhitectură</option>
<option value="Facultatea Cadastru, Geodezie &#351;i Construc&#355;ii">Facultatea Cadastru, Geodezie şi Construcţii</option>
<option value="Facultatea Inginerie Economic&#259; &#351;i Business">Facultatea Inginerie Economică şi Business</option>
<option value="Facultatea Industria U&#351;oar&#259;">Facultatea Industria Uşoară</option></select>

<div class="error-message" id="1217751880_errorMessage"></div>
<div class="required-message"></div>
</div></div></div><br>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1658272538"><div class="ss-q-title">Grupa
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
<input type="text" name="entry.1658272538" value="" class="ss-q-short form-group user-group" id="entry_1658272538" dir="auto" aria-label="Grupa  " aria-required="true" required="" title="">
<div class="error-message" id="1311197791_errorMessage"></div>
<div class="required-message"></div>
</div></div></div>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1687448379"><div class="ss-q-title">Anul de studii
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label><br>
<input type="text" name="entry.1687448379" value="" class="ss-q-short form-group user-group" id="entry_1687448379" dir="auto" aria-label="Anul de studii  " aria-required="true" required="" title="">
<div class="error-message" id="2076723895_errorMessage"></div>
<div class="required-message"></div>
</div></div></div>

</div>
<!-- end of clicking 1 -->

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1710642774"><div class="ss-q-title">Care este nivelul tău de cunoaștere a limbii engleze?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Care este nivelul tău de cunoaștere a limbii engleze?  "><li class="ss-choice-item"><br>
<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Nu cunosc limba" id="group_1933312186_1" role="radio" class="ss-q-radio" aria-label="Nu cunosc limba" required="" aria-required="true"></span>
<span class="ss-choice-label">Nu cunosc limba</span>
</label></li> <li class="ss-choice-item"><br>
<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="&Icirc;ncep&#259;tor" id="group_1933312186_2" role="radio" class="ss-q-radio" aria-label="&Icirc;ncep&#259;tor" required="" aria-required="true"></span>
<span class="ss-choice-label">Începător</span>
</label></li> <li class="ss-choice-item"><br>
<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Mediu" id="group_1933312186_3" role="radio" class="ss-q-radio" aria-label="Mediu" required="" aria-required="true"></span>
<span class="ss-choice-label">Mediu</span>
</label></li> <li class="ss-choice-item"><br>
<label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1933312186" value="Avansat" id="group_1933312186_4" role="radio" class="ss-q-radio" aria-label="Avansat" required="" aria-required="true"></span>
<span class="ss-choice-label">Avansat</span>
</label></li></ul>
<div class="error-message" id="1710642774_errorMessage"></div>
</div></div></div><br>


<!-- clicking 2 -->
<div class="endclicking" onclick="return false;" onselect="return false;">


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_648419829"><div class="ss-q-title">Care sunt punctele tale forte, care crezi că te vor ajuta să câștigi această competiție?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<textarea name="entry.648419829" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_648419829" dir="auto" aria-label="Care sunt punctele tale forte, care crezi că te vor ajuta să câștigi această competiție?  " aria-required="true" required=""></textarea>
<div class="error-message" id="732940695_errorMessage"></div>
</div></div></div>
<br>



<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1728766918"><div class="ss-q-title">Ai echipă? Dacă da, specifică numele echipei și a membrilor.
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"><h6>Notă! Fiecare participant/membru al echipei trebuie să se <b>înregistreze individual</b>. Maxim 4 persoane în echipă.</h6></div></label>
<textarea name="entry.1728766918" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1728766918" dir="auto" aria-label="Ai echipă? Dacă da, specifică numele echipei și a membrilor. Notă! Fiecare participant/membru al echipei trebuie să se înregistreze individual. Maxim 4 persoane în echipă. " aria-required="true" required=""></textarea>
<div class="error-message" id="652976927_errorMessage"></div>
</div></div></div>
<br>
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1382187894"><div class="ss-q-title">Propune un plan de acțiuni cum ai putea să îmbunătățești infrastructura de transport din capitală dacă ai fi primar.
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<textarea name="entry.1382187894" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1382187894" dir="auto" aria-label="Propune un plan de acțiuni cum ai putea să îmbunătățești infrastructura de transport din capitală dacă ai fi primar.  " aria-required="true" required=""></textarea>
<div class="error-message" id="1949814587_errorMessage"></div>
</div></div></div>
<br>



<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1065132302"><div class="ss-q-title">Ești proprietarul unei uzine de fabricare a hârtiei, însă recent a fost adoptată o lege ce nu permite defrișarea pădurilor. Ce metode vei folosi, pentru ca afacerea ta să fie de succes?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1065132302" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1065132302" dir="auto" aria-label="Ești proprietarul unei uzine de fabricare a hârtiei, însă recent a fost adoptată o lege ce nu permite defrișarea pădurilor. Ce metode vei folosi, pentru ca afacerea ta să fie de succes?  " aria-required="true" required=""></textarea>
<div class="error-message" id="556106455_errorMessage"></div>
</div></div></div>
<br>

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1314500649"><div class="ss-q-title">Ce speri să găsești la capătul curcubeului?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1314500649" rows="5" cols="0" class="ss-q-long form-control user-form" id="entry_1314500649" dir="auto" aria-label="Ce speri să găsești la capătul curcubeului?  " aria-required="true" required=""></textarea>
<div class="error-message" id="895303682_errorMessage"></div>

</div></div></div>
<br>


<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_496820539"><div class="ss-q-title">Mărimea tricoului?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon " aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
</div> <!-- End of clicking -->
<select name="entry.496820539" id="entry_496820539" aria-label="Mărimea tricoului?  " aria-required="true" required=""><option value=""></option>
<option value="S">S</option> <option value="M">M</option> <option value="L">L</option> <option value="XL">XL</option> <option value="XXL">XXL</option></select>
<div class="required-message"></div></div></div>


</div>
<!-- end of clicking -->


<br>
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_232014566"><div class="ss-q-title">Cum ai aflat despre evenimentul EBEC?
<label for="itemView.getDomIdToLabel()" aria-label="(Câmp obligatoriu)"></label>
<span class="ss-required-asterisk asterisk-icon" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices ss-choices-required" role="group" aria-label="Cum ai aflat despre evenimentul EBEC?   ">

<br>
<li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Afi&#537;e" id="group_196905324_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Afișe</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Bro&#537;uri" id="group_196905324_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Broșuri</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Prieteni" id="group_196905324_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Prieteni</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Re&#539;ele de socializare" id="group_196905324_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Rețele de socializare</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Mass-media" id="group_196905324_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Mass-media </span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="Mese informative" id="group_196905324_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Mese informative</span>
</label></li> <br> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.196905324" value="__other_option__" id="group_196905324_7" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
<span class="ss-choice-label">Altele:</span></label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.196905324.other_option_response" value="" class="ss-q-other" id="entry_196905324_other_option_response" dir="auto" aria-label="Altele"></span>
</li> <br></ul>

<div class="error-message" id="232014566_errorMessage"></div>
<div class="required-message"></div></div></div></div>
<!-- <input type="hidden" name="draftResponse" value="[,,&quot;701326115814444200&quot;]"> -->
<input type="hidden" name="draftResponse" value="[,,&quot;-78931939810373938563&quot;]">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fvv" value="0">

<input type="hidden" name="fbzx" value="-7893193981037393856">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry radio-inline" id="navigation-buttons" dir="ltr">

</td>
</tr></tbody></table></div></ol>

<input type="submit" name="submit" value="Aplică" id="ss-submit" class=" btn btn-lg btn-success jfk-button jfk-button-action buton-aplica ">

</form></div>

<!-- end of case study -->






			</div><!-- /page-inner -->
		</div><!-- /page-left -->
	</div>
<!-- Case Study -->
				<a href="#" class="back back-right" title="back to intro">&rarr;</a>
				<a href="#" class="back back-left" title="back to intro">&larr;</a>
			</div><!-- /splitlayout -->
		</div><!-- /container -->


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
		<script src="{{ site.url }}/assets/js/cbpSplitLayout.js"></script>


<script>
var showMessage= function () {
  var message = document.querySelector("#thankyou")
  message.style.visibility='visible'
  //setTimeout(function(){message.style.visibility='hidden'}, 4000)
}

</script>


	</body>
</html>
