{% include header.html %}

  <div id="home-parallax">
    <div id="homeBanner" class="hasBackground" style="background-image:url({{ 'assets/images/home-parallax.jpg' | relative_url }})">
      <div class="info-text" >
        <h1>BEST Chisinau – Developing students</h1>
        <p>We are <b>BEST</b>. We are students and our missions is <b>developing students</b>. We are over 40 young future <b>engineers</b>. We are passionate about <b>technology</b> and <b>different ways</b> of thinking. We are Board of European Students of Technology in Chisinau.</p>
      </div>
      <div id="downButton"></div>
    </div>
  </div>

  <div id="main-content">

    <div class="container">
      <h2>In development</h2>
      <div class="row">
        <div class="content-p col-md-8 col-md-offset-2 clearfix">
          <p>Currently the page is in development. Follow us on <a href="https://www.facebook.com/BEST.Chisinau/">facebook</a></p>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}
